*{
    margin: 0;
    background-color: #40513B;
}

html {
    font-size: calc(16px + 0.5vw);
}

.meuHeader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    background-color: #40513B;
    transition: height 0.3s ease; /* transição suave de altura */
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    flex-direction: column;
    transition: height 0.3s ease; /* transição suave de altura */
}

.logo img{
    width: 2em;
    height: auto;
}

#nameLogo{
    margin-left: auto;
    margin-top: 4%;
    display: flex;
    width: 100%;
    color: #EDF1D6;
    font-family: fantasy;
    font-weight: 100;
    font-size: 50%;
    text-decoration: overline;
    transition: height 0.3s ease; /* transição suave de altura */
}

.menuHeader {
    flex: 1;
    text-align: right;
    margin-right: 13%;
    width: 300%;
}
  
.menuHeader ul {
    list-style: none;
    width: 100%;
}

.menuHeader li a{
    background-color: #40513B;
}
.menuHeader li {
    display: inline-block;
    margin-left: 5%;
}
  
.menuHeader li:first-child {
    margin-left: 0;
}
  
.menuHeader a {
    color: #EDF1D6;
    text-decoration: none;
    font-size: 1.15em;
    font-family: Arial, Helvetica, sans-serif;
}

.sequenciaImagensLinha{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 8%;
    width: 99vw;
}

.figuraSequenciaImagensLinha{
    width: 24.8vw;
    height: 35vh;
}

@media screen and (max-width: 1080px) {
    .figuraSequenciaImagensLinha{
        margin-top: 6em;
        width: 25vw;
        height: 15.5vh;
    }
}


.secaoPortifolio{
    display: flex;
    background-color: #EDF1D6;
    height: 320vh;
    width: 100vw;
    flex-direction: column;
}

.secaoPortifolio h1{
    display: flex;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #12220d;
    background-color: #EDF1D6;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
}

#slogan{
    display: flex;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #609966;
    background-color: #EDF1D6;
    text-decoration: overline;
    justify-content: center;
}

.divFervedouroBelaVistaImagem{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    margin-left: 3%;
    background-color: #EDF1D6;
}

@media screen and (max-width: 1080px) {
    .divFervedouroBelaVistaImagem{
        flex-direction: column;
        margin-left: 15%;
    }
}

#fervedouroBelaVista{
    width: 16em;
    height: 16em;
    border-radius: 10px;
}

.poemaBrasil{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 30vw;
    margin-left: 10%;
    gap: 1em;
    background-color: #EDF1D6;
    width: 50%;
}

@media screen and (max-width: 1080px) {
    .poemaBrasil{
        margin-top: 10%;
        text-align: center;
    }
}

.poemaBrasil p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
    color: #12220d;
    background-color: #EDF1D6;
    width: 100%;
}

.secaoPortifolio h2{
    color: #609966;
    background-color: #EDF1D6;
    font-size: 3.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
    font-style: italic;
}

.imagensPortifolio{
    background-color: #EDF1D6;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 7%;
}

.figuraImagensPortifolio{
    width: 25vw;
    height: 60vh;
    border-radius: 9px;
    background-color: #EDF1D6;
}

@media screen and (max-width: 768px) {
    .figuraImagensPortifolio{
        width: 36.4vw;
        height: 30vh;
    }
}

.enaltecerBrasil{
    display: flex;
    align-items: center;
    height: 70vh;
    background-attachment: fixed;
    background-image: url(https://images.unsplash.com/photo-1620218728187-4ebf80e3fb08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    border-top: solid 1px #40513B;
    margin-top: 23.43%;
    border-bottom: solid 1px #40513B;
}

@media screen and (max-width: 1080px) {
    .enaltecerBrasil{
        height: 30vh;
        margin-top: 4.55%;
    }
}

.enaltecerBrasil h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #609966;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    width: 100%;
    height: 5%;
}

@media screen and (max-width: 1080px) {
    .enaltecerBrasil h1{
        height: 11%;
        margin-top: 3%;
    }
}

a{
    background-color: #EDF1D6;
}
.sobreBrasil{
    background-color: #609966;
    height: 30vh;
    justify-content: center;
    flex-direction: row;
}

.sobreBrasil h1{
    background-color: #609966;
    display: flex;
    width: 60%;
    float: left;
    margin-left: 2%;
    margin-top: 5%;
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#buttonSobreBrasil{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(-180deg, rgb(33, 243, 79) 0%, rgb(8, 180, 2) 96%);
    background-position: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow: rgb(33, 243, 79) 0px 1px 3px 0px;
    max-width: 300px;
    padding: 0px 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    text-align: center;
    line-height: 5%;
    height: 4em;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.6em;
    margin-top: 5%;
    margin-left: 10%;
    border: none;
    text-decoration: none !important;
    background-repeat: no-repeat !important;
}

@media screen and (max-width: 1080px) {
    #buttonSobreBrasil{
        margin-top: 10%;
    }
}

#buttonSobreBrasil:hover{
    background-image: linear-gradient(-180deg, rgb(30, 218, 71) 0%, rgb(5, 155, 0) 96%);
}
